.footer {
    background-color: $color-dark;
    text-align: center;
    padding: 120px 0 50px;

    a:hover {
        color: $color-blue;
        transition: .3s;
    }

    &__title {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        margin-bottom: 10px;
    }

    &__signature {
        display: block;
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1.3px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        margin-right: 25px;
    }

    &__item:last-child {
        margin-right: 0;
    }
}